body{
    background-color: #ffffff;
    
    font-family: sans-serif;
    margin: 50px;
    
}
.grijs {
   color: #d62d2d;
}
p{
    color: #939598;
    margin-bottom: 30px;
}
a{
    background-color: #f65b5c;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: #333;
}